@using Newtonsoft.Json
@using BSUStudentManagement.CommonCode
@using DAL.Entities
@using DAL.CommonModels
@inject IHttpContextAccessor sessonContext

@{

    users? teacher = new users();
    if (sessonContext != null && sessonContext.HttpContext != null)
    {
        var usersjson = sessonContext.HttpContext.Session.GetString("Teacher");
        if (!String.IsNullOrEmpty(usersjson))
        {
            teacher = JsonConvert.DeserializeObject<users>(usersjson);
        }
    }


}


<header id="header" class="transparent-header floating-header header-size-md">
    <div id="header-wrap">
        <div class="container">
            <div class="header-row">

                <!-- Logo
                ============================================= -->
                <div id="logo">
                    @*<a href="index.html" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="/Content/ThemeContent/images/logo.png" alt="Canvas Logo"></a>
                    <a href="index.html" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="/Content/ThemeContent/images/logo@2x.png" alt="Canvas Logo"></a>*@
                 

                    <a href="@Url.Action("Index", "TeacherHome", new { area = "Teachers"})" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="~/Content/ThemeContent/images/examSys.png" alt="Exam Logo"></a>
                    <a href="@Url.Action("Index", "TeacherHome", new { area = "Teachers"})" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="/Content/ThemeContent/images/examSys.png" alt="Exam Logo"></a>
                </div><!-- #logo end -->

                <div class="header-misc">

                    <!-- Top Search
                    ============================================= -->
                    @*<div id="top-search" class="header-misc-icon">
                        <a href="#" id="top-search-trigger"><i class="icon-line-search"></i><i class="icon-line-cross"></i></a>
                    </div>*@
                    <!-- #top-search end -->

                    @{
                        if (teacher != null && teacher.user_id>0)
                        {
                            <a href="@Url.Action("Logout", "AdminAccount", new { area = "Admin" })" class="button button-rounded ml-3 d-none d-sm-block">Log out</a>
                        }
                        else
                        {
                            <a href="#" class="button button-rounded ml-3 d-none d-sm-block">Log in</a>
                        }
                    }


                </div>

                <div id="primary-menu-trigger">
                    <svg class="svg-trigger" viewBox="0 0 100 100"><path d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path><path d="m 30,50 h 40"></path><path d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path></svg>
                </div>

                <!-- Primary Navigation
                ============================================= -->
                <nav class="primary-menu with-arrows">

                    <ul class="menu-container">
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "TeacherHome" ? "menu-item current" : "menu-item")"><a class="menu-link" href="@Url.Action("Index", "TeacherHome", new { area = "Teachers"})"><div>Home</div></a></li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Courses" && ViewContext.RouteData.Values["Controller"].ToString() == "TeacherHome" ? "menu-item current" : "menu-item")"><a class="menu-link" href="@Url.Action("Courses", "TeacherHome", new { area = "Teachers" , pageId=1 })"><div>Courses</div></a></li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "QuizList" && ViewContext.RouteData.Values["Controller"].ToString() == "TeacherHome" ? "menu-item current" : "menu-item")"><a class="menu-link" href="@Url.Action("QuizList", "TeacherHome", new { area = "Teachers" , pageId=1, course_id=0 })"><div>Quiz</div></a></li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "AssignmentList" && ViewContext.RouteData.Values["Controller"].ToString() == "TeacherHome" ? "menu-item current" : "menu-item")"><a class="menu-link" href="@Url.Action("AssignmentList", "TeacherHome", new { area = "Teachers" , pageId=1, course_id=0 })"><div>Assignments</div></a></li>
                    </ul>

                </nav><!-- #primary-menu end -->

                <form class="top-search-form" action="search.html" method="get">
                    <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter.." autocomplete="off">
                </form>

            </div>
        </div>
    </div>
    <div class="header-wrap-clone"></div>
</header>