
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Teachers/Views/Shared/_Layout.cshtml";
}



<!-- Page Title
============================================= -->

<section id="page-title" class="page-title-parallax page-title-center page-title-dark include-header" style="background-image: linear-gradient(to top, rgba(254,150,3,0.5), #39384D), url('/Content/ThemeContent/demos/seo/images/services/content_marketing-title.jpg'); background-size: cover; padding: 120px 0;" data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">
    <div id="particles-line"></div>

    <div class="container clearfix mt-4">
        <div class="badge badge-pill border border-light text-light">Get In Touch</div>
        <h1>Teacher Panel</h1>
        @*<ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Contact</li>
            </ol>*@
    </div>

</section><!-- #page-title end -->
<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap pb-0">


        <!-- Works/Projects
            ============================================= -->
        <div class="section m-0" style="background: url('/Content/ThemeContent/demos/seo/images/sections/5.jpg') no-repeat center center; background-size: cover; padding: 30px 0 30px 0; margin-bottom: 10px !important;">
            <div class="container">
                <div class="heading-block border-bottom-0 center">
                
                    <h3 class="nott ls0">Quick Go</h3>
                </div>

                <div id="portfolio" class="portfolio row grid-container gutter-20">

                    <article class="portfolio-item col-12 col-sm-6 col-md-4 pf-media pf-icons">
                        <div class="grid-inner">
                            <div class="portfolio-image">
                                <img src="/Content/ThemeContent/demos/seo/images/works/1.jpg" alt="The Atmosphere">
                                <div class="bg-overlay">
                                    <div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-speed="500">
                                        <a href="@Url.Action("Courses", "TeacherHome", new { area = "Teachers" , pageId=1 })" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeIn" data-hover-speed="500"><i class="icon-line-ellipsis"></i></a>
                                    </div>
                                    <div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-speed="500"></div>
                                </div>
                            </div>
                            <div class="portfolio-desc">
                                <h3 class="text-center"><a href="@Url.Action("Courses", "TeacherHome", new { area = "Teachers" , pageId=1 })">Courses</a></h3>

                            </div>
                        </div>
                    </article>

                    <article class="portfolio-item col-12 col-sm-6 col-md-4 pf-illustrations">
                        <div class="grid-inner">
                            <div class="portfolio-image">
                                <img src="/Content/ThemeContent/demos/seo/images/works/2.jpg" alt="Wavelength Structure">
                                <div class="bg-overlay">
                                    <div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-speed="500">
                                        <a href="@Url.Action("QuizList", "TeacherHome", new { area = "Teachers" , pageId=1, course_id=0 })" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeIn" data-hover-speed="500"><i class="icon-line-ellipsis"></i></a>
                                    </div>
                                    <div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-speed="500"></div>
                                </div>
                            </div>
                            <div class="portfolio-desc">
                                <h3 class="text-center"><a href="@Url.Action("QuizList", "TeacherHome", new { area = "Teachers" , pageId=1, course_id=0 })">Quiz List</a></h3>
                                @*<span>SEO</span>*@
                            </div>
                        </div>
                    </article>
                    <article class="portfolio-item col-12 col-sm-6 col-md-4 pf-graphics pf-illustrations">
                        <div class="grid-inner">
                            <div class="portfolio-image">
                                <img src="/Content/ThemeContent/demos/seo/images/works/6.jpg" alt="Space Station">
                                <div class="bg-overlay">
                                    <div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-speed="500">
                                        <a href="@Url.Action("AssignmentList", "TeacherHome", new { area = "Teachers" , pageId=1, course_id=0 })" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeIn" data-hover-speed="500"><i class="icon-line-ellipsis"></i></a>
                                    </div>
                                    <div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-speed="500"></div>
                                </div>
                            </div>
                            <div class="portfolio-desc">
                                <h3 class="text-center"><a href="@Url.Action("AssignmentList", "TeacherHome", new { area = "Teachers" , pageId=1, course_id=0 })">Assignments</a></h3>
                                @*<span>Social Media</span>*@
                            </div>
                        </div>
                    </article>


                </div>

            </div>
        </div>



    </div>
</section><!-- #content end -->
