@using DAL
@using DAL.Entities
@using DAL.Services
@using DAL.CommonModels
@using BSUStudentManagement.CommonCode
@model BasicDataModels

@{
    ViewData["Title"] = "Quiz Detail";
    Layout = "~/Areas/Teachers/Views/Shared/_Layout.cshtml";
}



<!-- Page Title
============================================= -->
@await Html.PartialAsync("~/Areas/Teachers/Views/Shared/_PageSlider.cshtml", new DAL.CommonModels.GeneralData { PageTitle = "Student Result Detail" })

<!-- #page-title end -->
<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap pb-0">

        <div class="container clearfix">
            <div class="row gutter-40 col-mb-80">
                <div class="postcontent col-lg-12">




                    <div class="tabs clearfix" id="tab-3">

                        <ul class="tab-nav tab-nav2 clearfix">

                            <li><a href="#tabs-10">Normal View</a></li>
                            <li><a href="#tabs-11">Design View</a></li>

                        </ul>

                        <div class="tab-container">


                            <div class="tab-content clearfix" id="tabs-10">



                                <div class="promo promo-dark promo-uppercase p-4 p-md-5 mb-5">
                                    <div class="row align-items-center">

                                        @{ 
                                            string passStaus = Model.student_result_obj.std_percentage > Model.student_result_obj.passing_marks ? "Pass" : "Fail";
                                        }

                                        <div class="col-lg-5 col-md-5">
                                            <h3>Name: &nbsp; <span class="text-warning">@Model.student_result_obj.first_name @Model.student_result_obj.last_name</span></h3>
                                            <h3>Passing Marks: &nbsp; <span class="text-warning">@Model.student_result_obj.passing_marks (%)</span></h3>
                                        </div>
                                        <div class="col-lg-5 col-md-5">
                                            <h3>ID: &nbsp; <span class="text-warning">@Model.student_result_obj.student_id</span></h3>
                                            <h3>Required Marks: &nbsp; <span class="text-warning">@Model.student_result_obj.std_percentage %</span></h3>
                                        </div>
                                        <div class="col-lg-2 col-md-2 mt-4 mt-lg-0">
                                            <a href="#" class="btn btn-lg btn-outline-warning m-0">@passStaus </a>
                                        </div>
                                    </div>
                                </div>



                                <div class="table-responsive">

                                    <table class="table   mb-0">
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <th>Question</th>



                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{

                                                if (Model.quiz_ques_list.Count() > 0)
                                                {
                                                    int index_no = 1;
                                                    foreach (var item in Model.quiz_ques_list)
                                                    {
                                                        <tr>
                                                            <td>@index_no</td>
                                                            <td>

                                                                <div class="posts-sm row col-mb-30">
                                                                    <div class="entry col-12">
                                                                        <div class="entry-title">
                                                                            <h4><a href="demo-news-single.html">@item.question_title</a></h4>
                                                                        </div>



                                                                        <ul class="iconlist ml-3 mt-4 mb-0">
                                                                            <li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i>  <span @((item.correct_option == "option_a") ? "class=text-success" : "")> @item.option_a &nbsp; &nbsp;  <strong>@(("option_a" == item.student_ans) ? "(Student Ans)" : "")</strong>  </span></li>
                                                                            <li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> <span @((item.correct_option == "option_b") ? "class=text-success" : "")> @item.option_b   &nbsp; &nbsp;  <strong>@(("option_b" == item.student_ans) ? "(Student Ans)" : "")</strong> </span></li>
                                                                            <li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> <span @((item.correct_option == "option_c") ? "class=text-success" : "")> @item.option_c    &nbsp; &nbsp;  <strong>@(("option_c" == item.student_ans) ? "(Student Ans)" : "")</strong> </span></li>
                                                                            <li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i>  <span @((item.correct_option == "option_d") ? "class=text-success" : "")> @item.option_d   &nbsp; &nbsp; <strong>@(("option_d" == item.student_ans) ? "(Student Ans)" : "")</strong></span></li>

                                                                        </ul>

                                                                    </div>



                                                                </div>

                                                            </td>


                                                        </tr>
                                                        index_no++;
                                                    }
                                                }
                                            }



                                        </tbody>
                                    </table>

                                </div>

                            </div>
                            <div class="tab-content clearfix" id="tabs-11">


                                <div class="promo promo-dark promo-uppercase p-4 p-md-5 mb-5">
                                    <div class="row align-items-center">


                                        <div class="col-lg-5 col-md-5">
                                            <h3>Name: &nbsp; <span class="text-warning">@Model.student_result_obj.first_name @Model.student_result_obj.last_name</span></h3>
                                            <h3>Passing Marks: &nbsp; <span class="text-warning">@Model.student_result_obj.passing_marks (%)</span></h3>
                                        </div>
                                        <div class="col-lg-5 col-md-5">
                                            <h3>ID: &nbsp; <span class="text-warning">@Model.student_result_obj.student_id</span></h3>
                                            <h3>Required Marks: &nbsp; <span class="text-warning">@Model.student_result_obj.std_percentage %</span></h3>
                                        </div>
                                        <div class="col-lg-2 col-md-2 mt-4 mt-lg-0">
                                            <a href="#" class="btn btn-lg btn-outline-warning m-0">@passStaus </a>
                                        </div>
                                    </div>
                                </div>


                                <!-- Testimonials
    ============================================= -->
                                <div class="section mt-0" style="background: url('/Content/ThemeContent/demos/seo/images/sections/3.jpg') no-repeat top center; background-size: cover; padding: 0 0 70px;">
                                    <div class="container">


                                        <div id="oc-testi" class="owl-carousel testimonials-carousel carousel-widget clearfix" data-margin="0" data-pagi="true" data-loop="true" data-center="true" data-autoplay="5000" data-items-sm="1" data-items-md="2" data-items-xl="3">

                                            @{

                                                if (Model.quiz_ques_list.Count() > 0)
                                                {
                                                    int index_no2 = 1;
                                                    foreach (var item in Model.quiz_ques_list)
                                                    {
                                                        <div class="oc-item">
                                                            <div class="testimonial">

                                                                <div class="testi-content">
                                                                    <h3 class="text-center"><a href="#">Q. @index_no2</a></h3>


                                                                    <ul class="iconlist ml-3 mt-4 mb-0">
                                                                        <li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i>  <span @((item.correct_option == "option_a") ? "class=text-success" : "")> @item.option_a  </span></li>
                                                                        <li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> <span @((item.correct_option == "option_b") ? "class=text-success" : "")> @item.option_b  </span></li>
                                                                        <li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i> <span @((item.correct_option == "option_c") ? "class=text-success" : "")> @item.option_c  </span></li>
                                                                        <li class="mb-2 text-muted"><i class="icon-check text-smaller color"></i>  <span @((item.correct_option == "option_d") ? "class=text-success" : "")> @item.option_d</span></li>

                                                                    </ul>

                                                                    <div class="testi-meta">
                                                                        Student Answer
                                                                        <span class="text-info">@item.student_ans</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        index_no2++;
                                                    }
                                                }
                                            }





                                        </div>
                                    </div>
                                </div>


                            </div>


                        </div>

                    </div>

                    <div class="line"></div>

                </div>

            </div>

        </div>


    </div>
</section><!-- #content end -->
