<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />

    <!-- Stylesheets
    ============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900&display=swap" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/Content/ThemeContent/css/bootstrap.css" type="text/css" />
    <link href="~/Content/ThemeContent/Style/style.css" rel="stylesheet" />

    <link rel="stylesheet" href="/Content/ThemeContent/css/dark.css" type="text/css" />
    <link rel="stylesheet" href="/Content/ThemeContent/css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="/Content/ThemeContent/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="/Content/ThemeContent/css/magnific-popup.css" type="text/css" />

    <!-- Bootstrap Switch CSS -->
    <link rel="stylesheet" href="/Content/ThemeContent/css/components/bs-switches.css" type="text/css" />


    <!-- Date & Time Picker CSS -->
    <link rel="stylesheet" href="/Content/ThemeContent/css/components/datepicker.css" type="text/css" />
    <link rel="stylesheet" href="/Content/ThemeContent/css/components/timepicker.css" type="text/css" />
    <link rel="stylesheet" href="/Content/ThemeContent/css/components/daterangepicker.css" type="text/css" />



    <link rel="stylesheet" href="/Content/ThemeContent/css/custom.css" type="text/css" />
    <meta name='viewport' content='initial-scale=1, viewport-fit=cover'>

    <!-- Seo Demo Specific Stylesheet -->
    <link rel="stylesheet" href="/Content/ThemeContent/demos/seo/css/fonts.css" type="text/css" />
    <link rel="stylesheet" href="/Content/ThemeContent/demos/seo/seo.css" type="text/css" />


   
    <!-- / -->
    <!-- Document Title
    ============================================= -->
    <title>@ViewData["Title"] - Online Exam System</title>


    <!-- / -->
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
</head>

<body class="stretched">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">


        <!-- Header start
        ============================================= -->
          @await Html.PartialAsync("~/Areas/Users/Views/Shared/_UserHeader.cshtml")
        <!-- #header end -->


        @RenderBody()


        <!-- Search loader start here
        ============================================= -->
             @await Html.PartialAsync("~/Views/Shared/_Loader.cshtml")
        <!-- #Search loader end -->
        <!-- Footer start here
        ============================================= -->
        <footer id="footer" class="border-0 dark">

              @await Html.PartialAsync("~/Areas/Users/Views/Shared/_UserFooter.cshtml")
        </footer>
        <!-- #footer end -->

    </div><!-- #wrapper end -->
    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- JavaScripts
    ============================================= -->
    <script src="/Content/ThemeContent/js/jquery.js"></script>
    <script src="/Content/ThemeContent/js/plugins.min.js"></script>


    <!-- Date & Time Picker JS -->
    <script src="/Content/ThemeContent/js/components/moment.js"></script>
    <script src="/Content/ThemeContent/js/components/timepicker.js"></script>
    <script src="/Content/ThemeContent/js/components/datepicker.js"></script>

    <!-- Include Date Range Picker -->
    <script src="/Content/ThemeContent/js/components/daterangepicker.js"></script>

    <script>
        $(function () {
            $('.component-datepicker.default').datepicker({
                autoclose: true,
                startDate: "today",
            });

            $('.component-datepicker.today').datepicker({
                autoclose: true,
                startDate: "today",
                todayHighlight: true
            });

            $('.component-datepicker.past-enabled').datepicker({
                autoclose: true,
            });

            $('.component-datepicker.format').datepicker({
                autoclose: true,
                format: "dd-mm-yyyy",
            });

            $('.component-datepicker.autoclose').datepicker();

            $('.component-datepicker.disabled-week').datepicker({
                autoclose: true,
                daysOfWeekDisabled: "0"
            });

            $('.component-datepicker.highlighted-week').datepicker({
                autoclose: true,
                daysOfWeekHighlighted: "0"
            });

            $('.component-datepicker.mnth').datepicker({
                autoclose: true,
                minViewMode: 1,
                format: "mm/yy"
            });

            $('.component-datepicker.multidate').datepicker({
                multidate: true,
                multidateSeparator: " , "
            });

            $('.component-datepicker.input-daterange').datepicker({
                autoclose: true
            });

            $('.component-datepicker.inline-calendar').datepicker();

            $('.datetimepicker').datetimepicker({
                showClose: true
            });

            $('.datetimepicker1').datetimepicker({
                format: 'LT',
                showClose: true
            });

            $('.datetimepicker2').datetimepicker({
                inline: true,
                sideBySide: true
            });

            $('.datetimepicker3,.datetimepicker4').datetimepicker();

            // .daterange1
            $(".daterange1").daterangepicker({
                "buttonClasses": "button button-rounded button-mini m-0",
                "applyClass": "button-color",
                "cancelClass": "button-light"
            });

            // .daterange2
            $(".daterange2").daterangepicker({
                "opens": "center",
                timePicker: true,
                timePickerIncrement: 30,
                locale: {
                    format: 'MM/DD/YYYY h:mm A'
                },
                "buttonClasses": "button button-rounded button-mini m-0",
                "applyClass": "button-color",
                "cancelClass": "button-light"
            });

            // .daterange3
            $(".daterange3").daterangepicker({
                singleDatePicker: true,
                showDropdowns: true
            },
                function (start, end, label) {
                    var years = moment().diff(start, 'years');
                    alert("You are " + years + " years old.");
                });

            // reportrange
            function cb(start, end) {
                $(".reportrange span").html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }
            cb(moment().subtract(29, 'days'), moment());

            $(".reportrange").daterangepicker({
                "buttonClasses": "button button-rounded button-mini m-0",
                "applyClass": "button-color",
                "cancelClass": "button-light",
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);

            // .daterange4
            $(".daterange4").daterangepicker({
                autoUpdateInput: false,
                locale: {
                    cancelLabel: 'Clear'
                },
                "buttonClasses": "button button-rounded button-mini m-0",
                "applyClass": "button-color",
                "cancelClass": "button-light"
            });

            $(".daterange4").on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
            });

            $(".daterange4").on('cancel.daterangepicker', function (ev, picker) {
                $(this).val('');
            });

        });

    </script>



    <!-- Main Particles Js
    ============================================= -->
    <script src="/Content/ThemeContent/js/particles/particles.min.js"></script>
    <script src="/Content/ThemeContent/js/particles/particles-line.js"></script><!-- Particles Line -->
    <!-- Footer Scripts
    ============================================= -->
    <script src="/Content/ThemeContent/js/functions.js"></script>

    <!--Some common java script-->
    <script type="text/javascript">

        function showSearchLoader() {
         
            $("#search_loader").css("display", "block");
        }

        function hideSearchLoader() {
            $("#search_loader").css("display", "none");
        }

    </script>



    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)


</body>
</html>
